body{
	background:#aaa;
	margin:0px;
	padding:0px;
	font-family:Arial;
}

h1{
	font-size:25px;
	padding:0px;
	margin:0px;
}

h2{

}

h3{

}

a{

}

#wrapper{
	width:990px;
	margin:auto;
	text-align:center;

}

header{
	width:990px;
	background:#fff;
	padding-top:30px;
	color:#C80000;
	font:14px Arial;
	margin-bottom:10px;
	height:93px;
}

section{
	width:990px;
	background:#fff;
	padding:10px;
}

#canvas_object{
	border:2px solid #000;
	cursor:none;
}

footer{
	width:990px;
	background:#fff;
	margin-top:10px;
}

nav{
	margin-top:41px;
}

ul#menu{
	list-style:none;
	display:inline;
}
ul#menu li{
	display:inline;
	background:#111111;
	padding: 5px 3px 5px 3px;
	margin-left:2px;
}

ul#menu li a{
	text-decoration:none;
	font-weight:normal;
	color:#fff;
}
ul#menu li:hover{
	color:#fff;
	background:#C80000;
}

.clear{
	clear:both;
}